/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 200px!important
  margin 60px auto 50px!important

.custom-block.tip
  border-color: #111;
