/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #111111
$textColor = #121212
$borderColor = #e8e8e8
$codeBgColor = #fafafa
$badgeTipColor = #111111
